/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.movie-details {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    max-width: 400px;
    text-align: center;
}

.movie-poster img {
    max-width: 100%;
    height: auto;
}

.movie-info {
    margin-top: 20px;
}

.movie-info h3 {
    font-size: 24px;
}

.movie-info p {
    margin: 10px 0;
    font-size: 16px;
}

#buy-ticket {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.movie-list {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    flex-grow: 1;
    margin-left: 20px;
    max-width: 400px;
}

ul {
    list-style: none;
}

li {
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
}

/* Add more styles as needed */
